body{
	background-color: #0099ff;
}

h1{
	color: #ccffff;
	margin-left: 300px;
	font-style: italic;
}
.dot1{
	 height: 200px;
   width: 300px;
   background-color: white;
   border-radius: 50%;
   display: inline-block;
   margin-top: 50px;
   margin-left: 100px;
   border-color: purple;
   border-style: solid;
   position: absolute;


}

.dot2{
height: 150px;
   width: 200px;
   background-color: white;
   border-radius: 50%;
   display: inline-block;
   margin-top: 500px;
   margin-left: 400px;
   border-color: green;
   border-style: solid;
   position: absolute;
}

.dot3{
height: 150px;
   width: 200px;
   background-color: white;
   border-radius: 50%;
   display: inline-block;
   margin-top: 500px;
   margin-left: 600px;
   border-color: red;
   border-style: solid;
   position: absolute;
   }

.dot4{
height: 150px;
   width: 200px;
   background-color: white;
   border-radius: 50%;
   display: inline-block;
   margin-top: 300px;
   margin-left: 250px;
   border-color: yellow;
   border-style: solid;
   position: absolute;
   }

